<!DOCTYPE HTML>
<html lang="en">
<head>
	{% include analytics.html %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ site.data.general.seo.description }}">
	<link rel="canonical" href="{{ page.url }}" />
	<title>{{ page.title }} | productbase: retained digital talent acquisition</title>
	{% include assets.html %}
</head>
<body id="productbase">
	{% include navbar.html %}
	{% include logo.html %}
	<div class="container with-background bg4 full-height">
		{{ content }}
	</div>
	<footer class="footer navbar-fixed-bottom">
		<div class="container">
			<p class="text-muted text-center">
				{% include footer.html %}
			</p>
		</div>
	</footer>
</body>
</html>