
#productbase { 
	font-family: raleway;
	height: 100%; 
	margin: 10px; 
	padding: 10px;
	overflow-y: scroll;
}

#productbase h1.productbase-logo { 
	color: #1B2A41;
	font-weight: normal;
	font-size: 60px;
	margin-left: 50px;
	padding-bottom: 20px;
}

#productbase h1.productbase-logo strong { 
	font-weight: bolder;
}

#productbase p { 
	font-size: 18px;
	padding: 5px;
	margin: 5px;
	/*background: rgba(255,255,255,0.6);*/
}

#productbase .container p img { 
	float: left;
	height: 150px;
	width: 150px;
	margin: 0 20px 0 0;	
}

#productbase h1, 
#productbase h2,
#productbase h3 { 
	padding: 5px;
	margin: 5px;
}

#productbase h1 { 
	color: #0C1821;
	font-size: 28px;
	font-weight: bolder;
	padding-bottom: 20px;
}

#productbase h2 { 
	color: #324A5F;
	font-size: 24px;
	font-weight: bolder;
	padding-bottom: 10px;
}

#productbase h3 { 
	color: #1B2A41;
	font-size: 18px;
	font-weight: bolder;
	padding-bottom: 10px;
}

#productbase .container.with-background { 
	padding-left: 0px;
	padding-right: 400px;
}

.with-background.bg1 { 
	background-image: url("/img/sketches/sketch-1-gradient.jpg");
	background-size: 100% auto;
	background-position: 0px 100px;
	background-repeat: no-repeat;
}

.with-background.bg2 { 
	background-image: url("/img/sketches/sketch-2-gradient.jpg");
	background-size: 100% auto;
	background-position: 0px 100px;
	background-repeat: no-repeat;
}

.with-background.bg3 { 
	background-image: url("/img/sketches/sketch-3-gradient.jpg");
	background-size: 100% auto;
	background-position: 0px 100px;
	background-repeat: no-repeat;
}

.with-background.bg4 { 
	background-image: url("/img/sketches/sketch-4-gradient.jpg");
	background-size: 100% auto;
	background-position: 0px 10px;
	background-repeat: no-repeat;
}

.with-background.bg5 { 
	background-image: url("/img/sketches/sketch-5-gradient.jpg");
	background-size: 100% auto;
	background-position: 0px 10px;
	background-repeat: no-repeat;
}

.with-background.bg6 { 
	background-image: url("/img/sketches/sketch-6-gradient.jpg");
	background-size: 100% auto;
	background-position: 0px 10px;
	background-repeat: no-repeat;
}

#productbase .container.full-height { 
	min-height: 600px;
	margin-bottom: 100px;
}

#productbase footer.footer { 
	background: #FFFFFF;
}

#productbase footer p { 
	font-size: 24px;
	padding: 10px;
	line-height: 28px;
}

/**
 *	Generic page list items
**/

#productbase div.container ul { 
	color: #205013;
	list-style-type: square;
	padding-left: 50px;
	margin: 0;
}

#productbase div.container ul li { 
	font-size: 40px;
	line-height: 46px;
}

#productbase div.container ul li a { 
	color: #000000;
	font-size: 20px;
	vertical-align: 6px;
	text-decoration: none;
	outline: none;
}

#productbase div.container ul li a:hover { 
	text-decoration: underline;
}

#productbase div.container ul li a:visited { 
	color: #000000;
}

/**
 *	Media queries
**/

@media (max-width: 1024px) { 

	/* remove background images */

	#productbase .with-background { 
		background-image: none;
	}

	/* make fonts normal size */

	#productbase h1 { 
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	#productbase h2 { 
		font-size: 18px;
		font-weight: bold;
		padding-bottom: 5px;
	}

	#productbase h3 { 
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 5px;
	}

	#productbase p,
	#productbase div.container ul li,
	#productbase div.container ul li a { 
		font-size: inherit;
		line-height: inherit;
		vertical-align: middle;
	}

	/* shrink images */

	#productbase .container p img { 
		height: 75px;
		width: 75px;
		margin: 0 10px 0 0;
	}

	/* reduce left indent of text */

	#productbase .container.with-background { 
		padding-right: 5px;
	}

	/* make home logo smaller */

	#productbase h1.productbase-logo { 
		font-size: 20px;
		margin-left: 10px;
	}

	/* hide the fixed footer  */

	footer { 
		display: none;
	}

}
